{% extends 'base.html' %}
<!-- #% load bootstrap  %} -->

{% block body_class %}market{% endblock %}
{% load static %}

{% block body_block %}

<h1 class="display-5" style="display: inline-block;"  >Meeting Site </h1>
<img src="{% static 'images/meeting1.png' %} " alt="image" style="display: inline-block; object-fit: cover; height: 60px;">
<br />
<p class="blockquote-footer" align="left">Hello {{user.username}}</p>

{% for message in messages %}
{% if message %}
<div class="alert alert-{{message.tags}}" id="message-card" >
	{{message}}
</div>
{% endif %}
{% endfor %}

<button class="btn btn-outline-secondary mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMe"
	aria-expanded="false" aria-controls="collapseExample" id="filterbutton">Show/Hide form</button>
<div class="row collapse" id="collapseMe">
	<div class="col">
		<div class="card card-body">
			<form method="GET">
				<table>
					{{ filter.form.as_table}}
				</table>
				<button type="submit" class="btn btn-primary">Search</button>
				{% if user.is_superuser %}
				<a class="btn btn-outline-dark" href="{% url 'market_new' %}">New Battery</a>
				{% endif %}
			</form>
		</div>
	</div>
</div>

<div>
	<!-- <p class="fw-lighter" style="float:right"> Total records... {{filter.qs.count}}</p> -->
	<p class="fw-lighter" style="float:right"> Total records... {{object_list.count}}</p>
	<p class="fw-lighter" style="float:left"> No of searched items... {{filter.qs.count}}</p>
</div>
<br>
<table class="table table-striped">
	<thead>
		<!-- This style makes the top header sticking to the top of the page as a sticky table header  -->
		<tr class="table-dark" style=" position: sticky; top: 0;">
			<th scope="col">#</th>
			<th scope="col">Type</th>
			<th scope="col">Date</th>
			<th scope="col">Description</th>
			<th scope="col">Attendance</th>
			<th scope="col">Client</th>
			<!-- <th scope="col">Condition</th> -->
			<!-- <th scope="col">File</th> -->
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<!-- {#% for battery in page_obj.object_list %#} with pagination -->
		{% for market in filter.qs %}

		<tr>
			<th scope="row" style='width:50px'>{{forloop.counter}}</th>
			<th scope="row"> <a href="{% url 'market_detail' pk=market.pk %}" target="_blank">{{ market.meeting_type }}</a></th>
			<td>{{ market.meeting_date }}</td>
			<td style="text-align: justify;">{{ market.meeting_description }}</td>
			<td>{{ market.attendance }}</td>
			<td>{{ market.client }}</td>
			<td>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Action
					</button>
					<ul class="dropdown-menu">
						{% if user.is_superuser or user.groups.all.0.name == 'Operation' %}
						<li><a class="dropdown-item" href="{%url 'market_update' pk=market.pk%}">Update</a></li>
						{% endif %}
						{% if user.is_superuser %}
						<li><a class="dropdown-item" href="{%url 'market_delete' pk=market.pk %}">Delete</a></li>
						{% endif %}
						<li><a class="dropdown-item" href="{%url 'pdf_market_view' pk=market.pk%}" target="_blank">Pdf</a></li>
					</ul>
				</div>
			</td>
		</tr>

		{% endfor %}

		<br />
	</tbody>
</table>

<br>
{% endblock %}

{% block scripts %}
{{block.super}}
<!-- <script type="text/javascript" src="{#% static 'js/equipmentScript.js'  %#}"></script> -->
<script src="{% static 'js/messageScript.js' %}"></script>

<!-- Select2 script for searching dropdown list -->
<script>
$(document).ready(function() {
    $('.js-select2-basic').select2();
});
</script>

{% endblock %}
