/* body.dark-theme { */
/*   background-color: #333; */
/*   color: #fff; */
/* } */

/* body.dark-theme a { */
/*   color: #00ffff; */
/* } */
:root {
  --bg-color: #333;
  --text-color: #fff;
  --link-color: #5cacee;
}

body.dark-theme {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark-theme a {
  color: var(--link-color);
}

body.dark-theme td {
  color: var(--text-color);
}

body.dark-theme th {
  color: var(--text-color);
}

body.dark-theme tr {
  color: var(--text-color);
}
