:root {
  --bg-color: #333;
  --text-color: #fff;
  --link-color: #5fee;
}

body.dark-theme {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark-theme a {
  color: var(--link-color);
}

body.dark-theme td {
  color: var(--text-color);
}
body.dark-theme th {
  color: var(--text-color);
}

.black-background{
  background-color: var(--bg-color);
}

