{% extends 'base.html' %}

{% block body_block %}

<div class="row " >
  <div class="col">
    <div class="card card-body">
      <div class="row">
        <h3 class="display-5">Personnel Details</h3>
        <hr />
        <div class="col">
          <p class='card-text'>First Name : {{ personnel_detail.first_name}}</p>
          <p class='card-text'>Last Name : {{ personnel_detail.last_name}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Start Date : {{ personnel_detail.senionrty_date}}</p>
          <p class='card-text'>Birth Date : {{ personnel_detail.birth_date}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Grade : {{ personnel_detail.grade }}</p>
          <p class='card-text'>Position : {{ personnel_detail.position}}</p>
          <p class='card-text'>Department : {{ personnel_detail.department}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<a class="btn btn-primary " href="{% url 'personnel' %}">Personnel</a>

{% endblock %}
