{% extends 'base.html' %}
<!-- #% load bootstrap  %} -->
{% load static %}

{% block body_block %}

<h1 class="display-5">Personnel Page<span class="material-icons">person </span> </h1>
<br />
<p class="blockquote-footer" align="left">Hello {{user.username}} from {{user.groups.all.0.name}}</p>

{% for message in messages %}
{% if message %}
<div class="alert alert-{{message.tags}}" id="message-card" >
	{{message}}
</div>
{% endif %}
{% endfor %}

<button class="btn btn-outline-secondary mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMe"
	aria-expanded="false" aria-controls="collapseExample" id="filterbutton">Show/Hide form</button>
<div class="row collapse" id="collapseMe">
	<div class="col">
		<div class="card card-body">
			<form method="GET">
				<table>
					{{ filter.form.as_table}}

				</table>
				<button type="submit" class="btn btn-primary">Search</button>
				{% if user.is_superuser or user.groups.all.0.name == 'HR' %}
				<a class="btn btn-outline-dark" href="{% url 'personnel_new' %}">New Person</a>
				{% endif %}
			</form>
		</div>
	</div>
</div>

<div>
	<p class="fw-lighter" style="float:left"> No of searched items... {{filter.qs.count}}</p>
	<p class="fw-lighter" style="float:right"> Total records... {{object_list.count}}</p>
	<!-- <p class="fw-lighter" style="float:left"> No of searched items... {{page_obj.object_list.count}}</p> -->
</div>
<br>

<table class="table table-striped">
	<thead>
		<!-- This style makes the top header sticking to the top of the page as a sticky table header  -->
		<tr class="table-dark" style=" position: sticky; top: 0;">
			<th scope="col">#</th>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">Seniorty</th>
			<th scope="col">Department</th>
			<th scope="col">Grade</th>
			<th scope="col">Position</th>
			<th scope="col">Brith</th>
			<th scope="col">File</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for person in filter.qs %}
		<tr>
			<th scope="row" >{{forloop.counter}}</th>
			<th scope="row"> <a href="{% url 'personnel_detail' pk=person.pk %}">{{ person.first_name }}</a></th>
			<td >{{ person.last_name }}</td>
			<td >{{ person.senionrty_date}}</td>
			<td style='width:80px'>{{ person.department }}</td>
			<td>{{ person.grade }}</td>
			<td>{{ person.position }}</td>
			<td style='width:120px'>{{ person.birth_date }}</td>
			<td>
				{% if person.pdf_file != None and person.pdf_file != "" %}
				<a href="/media/{{person.pdf_file}}" type="application/pdf" target="_blank"> Link </a>
				{% else %}
				No files
				{% endif %}
			</td>
						<td>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
						aria-expanded="false">
						Action
					</button>
					<ul class="dropdown-menu">
						{% if user.is_superuser or user.groups.all.0.name == 'HR' %}
						<li><a class="dropdown-item" href="{%url 'personnel_update' pk=person.pk%}">Update</a>
						</li>
						{% endif %}
						{% if user.is_superuser %}
						<li><a class="dropdown-item" href="{%url 'personnel_delete' pk=person.pk %}">Delete</a>
						</li>
						{% endif %}
						<li><a class="dropdown-item" href="{%url 'personnel_pdf' pk=person.pk%}" target="_blank">Pdf</a></li> 
					</ul>
				</div>
			</td>
		</tr>
		{% endfor %}
		<br />

	</tbody>
</table>

<br>
{% endblock %}

{% block scripts %}
{{block.super}}
<!-- <script type="text/javascript" src="{#% static 'js/personmentScript.js'  %#}"></script> -->
<script src="{% static 'js/messageScript.js' %}"></script>

<!-- Select2 script for searching dropdown list -->
<!-- <script> -->
<!-- $(document).ready(function() { -->
<!--     $('.js-select2-basic').select2(); -->
<!-- }); -->
<!-- </script> -->

{% endblock %}
