{% extends 'base_pdf.html' %}

{% block pdf %}



    <div class="row ">
        <div class="col">
            <div class="card card-body">
                <div class="row">
                    <h3>Personnel Details</h3>
                    <div class="col">
                    </div>
                    <hr />
                    <div class="col">
                        <p class='card-text'>First Name : {{ personnel.first_name}}</p>
                        <p class='card-text'>Last Name : {{ personnel.last_name}}</p>
                        <p class='card-text'>Position : {{ personnel.position}}</p>
                    </div>
                    <div class="col">
                        <p class='card-text'>Start Date : {{ personnel.senionrty_date}}</p>
                        <p class='card-text'>Birth Date : {{ personnel.birth_date}}</p>
                        <p class='card-text'>Department : {{ personnel.department}}</p>
                    </div>
                    <div class="col">
                        <p class='card-text'>Grade : {{ personnel.grade }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
