{% extends 'base.html' %}
{% block body_class %}maintenance-battery{% endblock %}
{% load static %}

{% block body_block %}

<h1 class="display-5">Battery Maintenance Page <span class="material-icons">battery_3_bar</span></h1>
<br />
<p class="blockquote-footer">Hello {{user.username}}</p>
<!-- messages flash  -->
{% for message in messages %}
{% if message %}
<div class="alert alert-{{message.tags}}" id="message-card">
	{{message}}
</div>
{% endif %}
{% endfor %}

<button class="btn btn-outline-secondary mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMe"
	aria-expanded="false" aria-controls="collapseExample" id="filterbutton">Show/Hide form</button>
<div class="row collapse" id="collapseMe">
	<div class="col">
		<div class="card card-body">
			<!-- I liked this method below as it shows the table in a better way -->
			<form method="GET">
				<table>
					{{ filter.form.as_table}}
				</table>
				<button type="submit" class="btn btn-primary">Search</button>
				<a class="btn btn-outline-dark" href="{% url 'battery_maintenance_new' %}">New Check</a>
			</form>
		</div>
	</div>
</div>
<div>
	<p class="fw-lighter" style="float:right"> No of searched items... {{filter.qs.count}}</p>
	<p class="fw-lighter" style="float:left"> Total records... {{object_list.count}}</p>
</div>

<br>
<table class="table table-striped">
	<thead>
		<!-- This style makes the top header sticking to the top of the page as a sticky table header  -->
		<tr class="table-dark" style=" position: sticky; top: 0;">
			<th scope="col">#</th>
			<th scope="col">Battery SN</th>
			<th scope="col">Battery PN</th>
			<th scope="col">Maintenance Type</th>
			<th scope="col">Description</th>
			<th scope="col" style="width:150px">Check Date</th>
			<th scope="col">Voltage</th>
			<th scope="col">Status</th>
			<th scope="col">File</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for fa in filter.qs %}
		<tr>
			<th scope="row">{{forloop.counter}}</th>
			<th scope="row"> <a href="{% url 'battery_maintenance_detail' pk=fa.pk  %}"> {{ fa.battery.serial_num }}</a>
			</th>
			<td>{{ fa.battery.part_num }}</td>
			<td>{{ fa.ms_type }}</td>
			<td>{{ fa.description }}</td>
			<td>{{ fa.check_date }}</td>
			<td>{{ fa.voltage_value }}</td>
			{% if fa.ops_status == "Good" %}
			<td style="color:green">{{ fa.ops_status }}</td>
			{% else %}
			<td style="color:red">{{ fa.ops_status }}</td>
			{% endif %}
			<td>
				{% if fa.pdf_file != None and fa.pdf_file != ""%}
				<a href="/media/{{fa.pdf_file}}" type="application/pdf" target="_blank"> Link </a>
				{% else %}
				No files
				{% endif %}
			</td>

			<td>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
						aria-expanded="false">
						Action
					</button>
					<ul class="dropdown-menu">
						{% if user.is_superuser or user.groups.all.0.name == 'Operation' %}
						<li><a class="dropdown-item" href="{%url 'battery_maintenance_update' pk=fa.pk%}">Update</a>
						</li>
						{% endif %}
						{% if user.is_superuser %}
						<li><a class="dropdown-item" href="{%url 'battery_maintenance_delete' pk=fa.pk %}">Delete</a>
						</li>
						{% endif %}
						<!-- <li><a class="dropdown-item" href="{#%url 'equipment_pdf' pk=equip.pk%#}" target="_blank">Pdf</a></li> NOTE did not do the pdf yet -->
					</ul>
				</div>
			</td>
		</tr>
		{% endfor %}

		<br />
	</tbody>
</table>
{% endblock %}


{% block scripts %}
{{block.super}}
<script src="{% static 'js/mainScript.js' %}"></script>
<script src="{% static 'js/messageScript.js' %}"></script>

{% endblock %}
