{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body_block %}
<h1 class="display-5">New Battery Check</h1>
<br />
<p class="blockquote-footer">Hello {{user.username}}</p>

<form method="POST" class="job-form" enctype ="multipart/form-data">
    <hr />
    {% csrf_token %}

    <div class="form-row row">
        <div class="form-group col-md-4 mb-0 col"> {{ form.check_date |as_crispy_field }} </div>
        <div class="form-group col-md-4 mb-0 col"> {{ form.ms_type |as_crispy_field }} </div>
        <div class="form-group col-md-4 mb-0 col"> {{ form.voltage_value |as_crispy_field }} </div>
    </div>

    <div class="form-row row">
        <div class="form-group col-md-4 mb-0 col"> {{ form.description|as_crispy_field }} </div>
        <div class="form-group col-md-4 mb-0 col"> {{ form.battery |as_crispy_field }} </div>
        <div class="form-group col-md-4 mb-0 col"> {{ form.pdf_file |as_crispy_field }} </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-outline-dark" href="{% url 'battery_maintenance' %}">Cancel</a>
</form>

{% endblock %}
{% block scripts %}

<script>
    $(function () {
        $("#id_check_date").datepicker({
            format: 'dd-mm-yyyy',
        });
    });
</script>
{% endblock %}
