{% extends 'base.html' %}
<!-- {#% load humanize %} -->
{% block body_block %}


<div class="card ">
  <div class="card-header">
    <h3 class="display-5">Maintenance Details</h3>
    <a class="btn btn-primary" href="{% url 'maintenance_detail' pk=maintenance_detail.get_prev.pk  %}"><< Prev </a>
    <a class="btn btn-primary" href="{% url 'maintenance_detail' pk=maintenance_detail.get_next.pk  %}">Next >></a>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card card-body">
      <div class="row">
        <div class="col">
          <p class='card-text'>Maintenance Type : {{ maintenance_detail.ms_type }}</p>
          <p class='card-text'>Start Date : {{ maintenance_detail.main_date_start}}</p>
          <p class='card-text'>End Date : {{ maintenance_detail.main_date_end}}</p>
          <p class='card-text'>Asset No : {{ maintenance_detail.asset.part_num}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Maintenance Cost :{{ maintenance_detail.main_cost}}</p>
          <p class='card-text'>Expiry Date: {{ maintenance_detail.expiry_date}}</p>
          <p class='card-text'>Description : {{ maintenance_detail.description}}</p>
          <p class='card-text' >Pdf file :
            {% if maintenance_detail.pdf_file != None and maintenance_detail.pdf_file != ""%}
            <a href="/media/{{ maintenance_detail.pdf_file}}"
               type="application/pdf" target="_blank"> Link </a>
            {% else %}
            No files
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card ">
  <div class="card-header">
    <h3 class="display-5">Asset Details</h3>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr class="table-dark" style="position: sticky ; top: 0;">
      <th scope="col">Part No</th>
      <th scope="col">Serial No</th>
      <th scope="col">Maintenance Type</th>
      <th scope="col">Maintenance Date</th>
      <th scope="col">Maintenance End</th>
      <th scope="col">Maintenance Cost</th>
      <th scope="col">Expiry Date </th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="{% url 'equipment_detail' pk=maintenance_detail.asset.pk %}" target="_blank">
          {{ maintenance_detail.asset.part_num}}</a></td>
      <td>{{ maintenance_detail.asset.serial_num }}</td>
      <td>{{ maintenance_detail.ms_type }}</td>
      <td>{{ maintenance_detail.main_date_start }}</td>
      <td>{{ maintenance_detail.main_date_end }}</td>
      <td>{{ maintenance_detail.main_cost }}</td>
      <td>{{ maintenance_detail.expiry_date }}</td>
      <td>{{ maintenance_detail.description }}</td>
    </tr>
  </tbody>
</table>
<a class="btn btn-primary" href="{% url 'maintenance' %}">Back to Maintenance</a>

{% endblock %}
