{% extends 'base.html' %}
<!-- {#% load humanize %} -->
{% block body_block %}


<div class="card ">
  <div class="card-header">
    <h3 class="display-5">Maintenance Details</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card card-body">
      <div class="row">
        <div class="col">
          <p class='card-text'>Maintenance Type : {{ maintenance_detail.ms_type }}</p>
          <p class='card-text'>Start Date : {{ maintenance_detail.main_date_start}}</p>
          <p class='card-text'>End Date : {{ maintenance_detail.main_date_end}}</p>
          <p class='card-text'>Asset No : {{ maintenance_detail.asset.asset_num}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Maintenance Cost :{{ maintenance_detail.main_cost}}</p>
          <p class='card-text'>Expiry Date: {{ maintenance_detail.expiry_date}}</p>
          <p class='card-text'>Description : {{ maintenance_detail.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="card ">
  <div class="card-header">
    <h3 class="display-5">Asset Details</h3>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr class="table-dark" style="position: sticky ; top: 0;">
      <th scope="col">Asset No</th>
      <th scope="col">Serial No</th>
      <th scope="col">BU</th>
      <th scope="col">BL</th>
      <th scope="col">Asset Life</th>
      <th scope="col">Acquisition Cost</th>
      <th scope="col">NBV</th>
      <th scope="col">Total Dep</th>
      <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="{% url 'equipment_detail' pk=maintenance_detail.asset.pk %}">
          {{ maintenance_detail.asset.asset_num}}</a></td>
      <td>{{ maintenance_detail.asset.serial_num }}</td>
      <td>{{ maintenance_detail.asset.BU }}</td>
      <td>{{ maintenance_detail.asset.BL }}</td>
      <td>{{ maintenance_detail.asset.asset_life }}</td>
      <td>{{ maintenance_detail.asset.acquisition_cost }}</td>
      <td>{{ maintenance_detail.asset.nbv }}</td>
      <td>{{ maintenance_detail.asset.tot_dep_value }}</td>
      <td>{{ maintenance_detail.asset.temp_location }}</td>
    </tr>
  </tbody>
</table>
<br>
<a class="btn btn-primary" href="{% url 'maintenance' %}">Back to Maintenance</a>
<div class="card-footer text-muted">
  Maintenance is Important
</div>

{% endblock %}
