{% extends 'base.html' %}
{% block body_class %}maintenance{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block body_block %}
<h1 class="display-5">Add New Maintenance
    <img src="{% static 'images/add1.png' %}" alt="image" style="width: 50px">
</h1>
<br />
<p class="blockquote-footer">Hello {{user.username}}</p>

<form method="POST" class="job-form" enctype ="multipart/form-data">
    {% csrf_token %}
    <hr />
    <div class="form-row row">
        <div class="form-group col-md-3 mb-0 col"> {{ form.main_date_start |as_crispy_field }} </div>
        <div class="form-group col-md-3 mb-0 col"> {{ form.main_date_end |as_crispy_field }} </div>
        <div class="form-group col-md-3 mb-0 col"> {{ form.expiry_date |as_crispy_field }} </div>
        <div class="form-group col-md-3 mb-0 col"> {{ form.ms_type|as_crispy_field }} </div>
    </div>

    <div class="form-row row">
        <div class="form-group col-md-12 mb-0 col"> {{ form.description|as_crispy_field }} </div>
    </div>

    <div class="form-row row">
        <div class="form-group col-md-2 mb-0 col"> {{ form.main_cost |as_crispy_field }} </div>
        <div class="form-group col-md-4 mb-0 col"> {{ form.pdf_file |as_crispy_field }} </div>
        <div class="form-group col-md-6 mb-0 col"> {{ form.asset|as_crispy_field }} </div>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-outline-dark" href="{% url 'maintenance' %}">Cancel</a>
</form>

<script>
    $(function () {
        $("#id_main_date_start").datepicker({
            // format: 'dd-mm-yyyy',
            format: 'yyyy-mm-dd',
        });
        $("#id_main_date_end").datepicker({
            // format: 'dd-mm-yyyy',
            format: 'yyyy-mm-dd',
        });
        $("#id_expiry_date").datepicker({
            // format: 'dd-mm-yyyy',
            format: 'yyyy-mm-dd',
        });
    });
</script>
<!-- Js file for darkmode -->
<script src="{% static 'js/darkmode.js' %}"></script>
{% endblock %}


{% block scripts %}

{% endblock %}


