{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body_block %}
<h1 class="display-5">Add New Maintenance</h1>
<br />
<p class="blockquote-footer">Hello {{user.username}}</p>

<form method="POST" class="job-form">
    <hr />
    {% csrf_token %}
    <div class="form-row row">
        <div class="form-group col-md-3 mb-0 col"> {{ form.main_date_start |as_crispy_field }} </div>
        <div class="form-group col-md-3 mb-0 col"> {{ form.main_date_end |as_crispy_field }} </div>
        <div class="form-group col-md-3 mb-0 col"> {{ form.expiry_date |as_crispy_field }} </div>
        <div class="form-group col-md-3 mb-0 col"> {{ form.ms_type|as_crispy_field }} </div>
    </div>

    <div class="form-row row">
        <div class="form-group col-md-12 mb-0 col"> {{ form.description|as_crispy_field }} </div>
    </div>

    <div class="form-row row">
        <div class="form-group col-md-2 mb-0 col"> {{ form.main_cost |as_crispy_field }} </div>
        <div class="form-group col-md-2 mb-0 col"> {{ form.file_link |as_crispy_field }} </div>
        <!-- <div class="form-group col-md-4 mb-0 col"> -->
        <!-- <\!-- Adding the select2 form here -\-> -->
        <!--     <p><b>Asset*: </b> -->
        <!--         <select name="Asset" class="form-control js-select2-mainteance_add"> -->
        <!--             {% for result in form.asset %} -->
        <!--             <\!-- <option value="{{result }}" >"{{result}}"</option> -\-> -->
        <!--             <option >{{result}}</option> -->
        <!--             {% endfor %} -->
        <!--         </select> -->
        <!--     </p> -->
        <!-- </div> -->

        <div class="form-group col-md-8 mb-0 col"> {{ form.asset|as_crispy_field }} </div>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <!-- <div class="alert alert-success" role="alert"> -->
    <!--     A simple success alert—check it out! -->
    <!-- </div> -->
    <a class="btn btn-outline-dark" href="{% url 'maintenance' %}">Cancel</a>
</form>

{% endblock %}


{% block scripts %}

{% endblock %}


