{% extends 'base.html' %}
{% load static %}

{% block body_block %}

<!-- Start the login process -->

{% if user.is_authenticated %}
<div class="container mt-2">
  <h3 class="display-6">Hi {{ user.username }}</h3>
  <p>This is the home page</p>
  <p>Feel free to view all the company data</p>
  {% else %}
  <h2 class="display-3">You are not logged in</h2>
  <br />
  <p>Please login or or the admin for password</p>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{block.super}}
<script src="{% static 'js/darkmode.js' %}"></script>
<!-- TODO fix this Js file for dropdown -->
<script src="{% static 'js/dropdownlist.js' %}"></script>
{% endblock %}
