{% extends 'base.html' %}

{% block body_block %}

<!-- Start the login process -->

{% if user.is_authenticated %}
<div class="container mt-2">
  <h2 class="display-3">Hi {{ user.username }}</h2>
  <h2 class="display-5">This is the home page </h2>
  <br />
  <p>Feel free to view all the company data</p>
  <!-- <a href="{#%url 'logout'%#}"class="btn btn-outline-dark">LOG OUT</a> -->
  {% else %}
  <h2 class="display-3">You are not logged in</h2>
  <br />
  <p>Please login or or the admin for password</p>
  <!-- <a href="{#%url 'login'%#}" class="btn btn-outline-dark">LOGIN</a> -->
  {% endif %}
</div>
{% endblock %}
