{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class="row ">
  <div class="col">
    <div class="card card-body">
        <h3 class="display-5">Equipment vs job Tracker
          <img src="{% static 'images/detail.png' %}" alt="image" style="width: 50px">
        </h3>
        <div class="col">
          <a class="btn btn-outline-primary" href="{% url 'equipment_jobs_detail' pk=equipment_jobs_detail.get_prev.pk  %}"><< Prev </a>
          <a class="btn btn-outline-primary" href="{% url 'equipment_jobs_detail' pk=equipment_jobs_detail.get_next.pk  %}">Next >></a>
        </div>
      <div class="row">
        <hr />
        <h3 class="display-6">Job</h3>
        <div class="col">
          <p class='card-text'>Client : {{ equipment_jobs_detail.jobidnew.client}}</p>
          <p class='card-text'>Field : {{ equipment_jobs_detail.jobidnew.field}}</p>
          <p class='card-text'>Well : {{ equipment_jobs_detail.jobidnew.well}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Department : {{ equipment_jobs_detail.jobidnew.departmenet}}</p>
          <p class='card-text'>Service : {{ equipment_jobs_detail.jobidnew.service}}</p>
          <p class='card-text'>Description : {{ equipment_jobs_detail.jobidnew.description}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Start Date : {{ equipment_jobs_detail.jobidnew.startDate }}</p>
          <p class='card-text'>End Date : {{ equipment_jobs_detail.jobidnew.endDate }}</p>
        </div>
        <hr />
        <h5 class="display-6">Asset</h3>
        <div class="col">
          <p class='card-text'>Part No : {{ equipment_jobs_detail.assetnew.part_num}}</p>
          <p class='card-text'>Serial No : {{ equipment_jobs_detail.assetnew.serial_num}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Department : {{ equipment_jobs_detail.assetnew.departement }}</p>
          <p class='card-text'>Description : {{ equipment_jobs_detail.assetnew.description}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Cost : {{ equipment_jobs_detail.assetnew.acquisition_cost }} $</p>
          <p class='card-text'>Date : {{ equipment_jobs_detail.assetnew.acquisition_date}}</p>
        </div>
        <hr />
        <!-- Check if the job is DH camera to show the battieres or not -->
        {% if equipment_jobs_detail.jobidnew.service == "DH Camera" %}
        <h5 class="display-6">Battery</h3>
        <div class="col">
          {% for fo in equipment_jobs_detail.battery.all %}
          <p class='card-text'>Battery : {{forloop.counter}}) Part No.{{fo.part_num}} / Serial No.{{fo.serial_num}}</p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<br/>
<a class="btn btn-primary" href="{% url 'equipment_jobs' %}">Back to Tracker</a>
</div>

{% endblock %}
