{% extends 'base.html' %}
{% block body_class %}equipment-jobs{% endblock %}
{% load static %}
{% block body_block %}


<h1 class="display-5">Jobs Equipment Traker<span class="material-icons">assessment</span> </h1>
<br />
<p class="blockquote-footer">Hello {{user.username}}</p>
{% for message in messages %}
{% if message %}
<div class="alert alert-{{message.tags}}" id="message-card" >
	{{message}}
</div>
{% endif %}
{% endfor %}

<button class="btn btn-outline-secondary mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMe"
	aria-expanded="false" aria-controls="collapseExample" id="filterbutton">Show/Hide form</button>
<div class="row collapse" id="collapseMe">
	<div class="col">
		<div class="card card-body">
			<form method="GET">
				<table>
					{{ filter.form.as_table}}
				</table>
				<button type="submit" class="btn btn-primary">Search</button>
				{% if user.is_superuser %}
				<a class="btn btn-outline-dark" href="{% url 'equipment_jobs_new' %}">New Track</a>
				{% endif %}

			</form>
		</div>
	</div>
</div>
<div>
	<p class="fw-lighter" style="float:right"> Total records... {{filter.qs.count}}</p>
	<p class="fw-lighter" style="float:left"> No of searched items... {{object_list.count}}</p>
</div>
<br>
<table class="table table-striped">
	<thead>
		<tr class="table-dark" style=" position: sticky; top: 0;">
			<th scope="col">#</th>
			<th scope="col">JobID</th>
			<th scope="col">Client</th>
			<th scope="col">Well</th>
			<th scope="col">Service</th>
			<th scope="col">Asset PN</th>
			<th scope="col">Asset SN</th>
			<th scope="col">Description</th>
			<th scope="col">Battery</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for fa in object_list %}
		<tr>
			<th scope="row" >{{forloop.counter}}</th>
			<th scope="row"> <a href="{% url 'equipment_jobs_detail' pk=fa.pk %}" target="_blank">{{ fa.jobidnew.jobid }}</a></th>
			<td>{{ fa.jobidnew.client }}</td>
			<td>{{ fa.jobidnew.well }}</td>
			<td>{{ fa.jobidnew.service }}</td>
			<td>{{ fa.assetnew.part_num }}</td>
			<td>{{ fa.assetnew.serial_num }}</td>
			<td>{{ fa.assetnew.description }}</td>
			<td style="width: 300px ; word-wrap: break-word ;"> {% for fo in fa.battery.all %} {{forloop.counter}}){{fo.serial_num}}, {% endfor %}
			</td>
			<td>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
						aria-expanded="false">
						Action
					</button>
					<ul class="dropdown-menu">
						{% if user.is_superuser or user.groups.all.0.name == 'Operation' %}
						<li><a class="dropdown-item" href="{%url 'equipment_jobs_update' pk=fa.pk%}">Update</a>
						</li>
						{% endif %}
						{% if user.is_superuser %}
						<li><a class="dropdown-item" href="{%url 'equipment_jobs_delete' pk=fa.pk %}">Delete</a>
						</li>
						{% endif %}
						<!-- <li><a class="dropdown-item" href="{#%url 'equipment_pdf' pk=equip.pk%#}" target="_blank">Pdf</a></li> NOTE did not do the pdf yet -->
					</ul>
				</div>
			</td>
		</tr>
		{% endfor %}
		<br />
	</tbody>
</table>


{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{% static 'js/jobScript.js' %}"></script>
<script src="{% static 'js/messageScript.js' %}"></script>
<!-- Js file for darkmode -->
<script src="{% static 'js/darkmode.js' %}"></script>

{% endblock %}
