{% extends 'base.html' %}
{% load static %}

{%load crispy_forms_tags %}

{% block body_block %}
<h3 class="display-5">Update equipment to jobs connection
    <img src="{% static 'images/update.png' %}" alt="image" style="width: 50px">
</h3>
<br />
<p class="blockquote-footer">Hello {{user.username}}</p>

<form method="POST" class="job-form">
    {% csrf_token %}
    <div class="form-row row">
        <div class="form-group col-md-4 mb-0 col"> {{ form.jobidnew | as_crispy_field }} </div>
        <div class="form-group col-md-4 mb-0 col"> {{ form.assetnew| as_crispy_field }} </div>
        <div class="form-group col-md-4 mb-0 col"> {{ form.battery | as_crispy_field }} </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-outline-dark" href="{% url 'equipment_jobs' %}">Cancel</a>
</form>

{% endblock %}
