{% extends 'base.html' %}
{% load static %}
{% block body_block %}


<h1 class="display-5">Jobs Main Page <span class="material-icons">oil_barrel</span> </h1>
<br />
<p class="blockquote-footer">Hello {{user.username}}</p>
{% for message in messages %}
{% if message %}
<div class="alert alert-{{message.tags}}" id="message-card" >
	{{message}}
</div>
{% endif %}
{% endfor %}

<!-- Adding the filter form here -->
<button class="btn btn-outline-secondary mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMe"
	aria-expanded="false" aria-controls="collapseExample" id="filterbutton">Show/Hide form</button>
<!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMe" aria-expanded="false" aria-controls="collapseExample">Open Filter</button> -->
<div class="row collapse" id="collapseMe">
	<div class="col">
		<div class="card card-body">
			<form method="GET">
				<table>
					{{ filter.form.as_table}}
				</table>
				<button type="submit" class="btn btn-primary">Search</button>
				{% if user.is_superuser %}
				<a class="btn btn-outline-dark" href="{% url 'jobs_new' %}">Add new Job</a>
				{% endif %}

			</form>
		</div>
	</div>
</div>
<div>
	<p class="fw-lighter" style="float:right"> Total records... {{filter.qs.count}}</p>
	<p class="fw-lighter" style="float:left"> No of searched items... {{page_obj.object_list.count}}</p>
</div>
<br>
<table class="table table-striped">
	<thead>
		<tr class="table-dark" style=" position: sticky; top: 0;">
			<th scope="col">#</th>
			<th scope="col">JobID</th>
			<th scope="col">Client</th>
			<th scope="col">Well</th>
			<th scope="col">Dep.</th>
			<th scope="col">Service</th>
			<th scope="col">Description</th>
			<th scope="col">Start Date</th>
			<th scope="col">End Date</th>
			{% if user.is_superuser or user.groups.all.0.name == 'Operation' %}
			<th scope="col">Update</th>
			{% endif %}
			{% if user.is_superuser %}
			<th scope="col">Delete</th>
			{% endif %}
			<!-- <th scope="col">PDF</th> -->
		</tr>
	</thead>
	<tbody>
		<!-- This page_obj.object_list will get us the pagination and filter working togather -->
		<!-- {#% for fa in page_obj.object_list #%} -->
		{% for fa in object_list %}
		<tr>
			<th scope="row" >{{forloop.counter}}</th>
			<th scope="row"> <a href="{% url 'jobs_detail' pk=fa.pk  %}">{{ fa.jobid }}</a></th>
			<td>{{ fa.client }}</td>
			<td>{{ fa.well }}</td>
			<td>{{ fa.departmenet }}</td>
			<td>{{ fa.service }}</td>
			<td>{{ fa.description }}</td>
			<td>{{ fa.startDate}}</td>
			<td>{{ fa.endDate}}</td>
			{% if user.is_superuser or user.groups.all.0.name == 'Operation' %}
			<td><a href="{% url 'jobs_update' pk=fa.pk  %}" class="btn btn-outline-dark"> <span class="fa fa-clone"></a></td>
			{% endif %}
			{% if user.is_superuser %}
			<td><a href="{% url 'jobs_delete' pk=fa.pk  %}" class="btn btn-outline-dark"><span class="fa fa-eraser"> </a></td>
			{% endif %}
			<!-- <td><a href="{#% url 'pdf_job_view' pk=fa.pk  %}"class="btn btn-outline-dark"><span class="fa fa-pencil"></a></td> -->
		</tr>
		{% endfor %}
		<!-- Pagination pages toggle -->

		<br />
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				{% if page_obj.has_previous %}
				<li class="page-item"><a class="page-link" href="?page=1">First</a></li>
				<li class="page-item"><a class="page-link"
						href="?page={{ page_obj.previous_page_number }} ">previous</a></li>
				{% endif %}
				<li class="page-item"><a class="text-rest text-muted page-link" href="#">
						Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
					</a></li>
				{% if page_obj.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }} ">next</a></li>
				<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }} ">last</a>
				</li>
				{% endif %}
			</ul>
		</nav>


	</tbody>
</table>


{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{% static 'js/jobScript.js' %}"></script>
<script src="{% static 'js/messageScript.js' %}"></script>

{% endblock %}
