{% extends 'base.html' %}
{% block body_class %}jobs{% endblock %}
{% load static %}
{% block body_block %}


<h1 class="display-5" style="display: inline-block;"  >Jobs Site</h1>
<img src="{% static 'images/job1.png' %} " alt="image" style="display: inline-block; object-fit: cover; height: 60px;">
<!-- <h1 class="display-5">Jobs Page <span class="material-icons">oil_barrel</span> </h1> -->
<br />
<p class="blockquote-footer">Hello {{user.username}} {{user.groups.all.0}}</p>
{% for message in messages %}
{% if message %}
<div class="alert alert-{{message.tags}}" id="message-card" >
	{{message}}
</div>
{% endif %}
{% endfor %}

<!-- Adding the filter form here -->
<button class="btn btn-outline-secondary mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMe"
	aria-expanded="false" aria-controls="collapseExample" id="filterbutton">Show/Hide form</button>
<!-- <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMe" aria-expanded="false" aria-controls="collapseExample">Open Filter</button> -->
<div class="row collapse" id="collapseMe">
	<div class="col">
		<div class="card card-body">
			<form method="GET">
				<table>
					{{ filter.form.as_table}}
				</table>
				<button type="submit" class="btn btn-primary">Search</button>
				{% if user.is_superuser or user.groups.all.0.name == 'Operation' %}
				<a class="btn btn-outline-dark" href="{% url 'jobs_new' %}">Add new Job</a>
				{% endif %}

			</form>
		</div>
	</div>
</div>
<div>
	<p class="fw-lighter" style="float:right"> Total records... {{filter.qs.count}}</p>
	<p class="fw-lighter" style="float:left"> No of searched items... {{object_list.count}}</p>
</div>
<br>
<table class="table table-striped">
	<thead>
		<tr class="table-dark" style=" position: sticky; top: 0;">
			<th scope="col">#</th>
			<th scope="col">JobID</th>
			<th scope="col">Client</th>
			<th scope="col">Well</th>
			<th scope="col">Dep.</th>
			<th scope="col">Service</th>
			<th scope="col">Description</th>
			<th scope="col">Start Date</th>
			<th scope="col">End Date</th>
			<th scope="col">File</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for fa in filter.qs %}
		<tr>
			<th scope="row" >{{forloop.counter}}</th>
			<th scope="row"> <a href="{% url 'jobs_detail' pk=fa.pk  %}" target="_blank">{{ fa.jobid }}</a></th>
			<td>{{ fa.client }}</td>
			<td>{{ fa.well }}</td>
			<td>{{ fa.departmenet }}</td>
			<td>{{ fa.service }}</td>
			<td>{{ fa.description }}</td>
			<td>{{ fa.startDate}}</td>
			<td>{{ fa.endDate}}</td>
			<td>
				{% if fa.pdf_file != None and fa.pdf_file != ""%}
				<a href="/media/{{fa.pdf_file}}" type="application/pdf" target="_blank"> Link </a>
				{% else %}
				No files
				{% endif %}
			</td>

			<td>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
						aria-expanded="false">
						Action
					</button>
					<ul class="dropdown-menu">
						{% if user.is_superuser or user.groups.all.0.name == 'Operation' %}
						<li><a class="dropdown-item" href="{%url 'jobs_update' pk=fa.pk%}">Update</a>
						</li>
						{% endif %}
						{% if user.is_superuser %}
						<li><a class="dropdown-item" href="{%url 'jobs_delete' pk=fa.pk %}">Delete</a>
						</li>
						{% endif %}
						<li><a class="dropdown-item" href="{%url 'pdf_job_view' pk=fa.pk%}" target="_blank">Pdf</a></li> 
					</ul>
				</div>
			</td>
		</tr>
		{% endfor %}
		<!-- Pagination pages toggle -->

		<br />
		<!-- <nav aria-label="Page navigation example"> -->
		<!-- 	<ul class="pagination"> -->
		<!-- 		{% if page_obj.has_previous %} -->
		<!-- 		<li class="page-item"><a class="page-link" href="?page=1">First</a></li> -->
		<!-- 		<li class="page-item"><a class="page-link" -->
		<!-- 				href="?page={{ page_obj.previous_page_number }} ">previous</a></li> -->
		<!-- 		{% endif %} -->
		<!-- 		<li class="page-item"><a class="text-rest text-muted page-link" href="#"> -->
		<!-- 				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. -->
		<!-- 			</a></li> -->
		<!-- 		{% if page_obj.has_next %} -->
		<!-- 		<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }} ">next</a></li> -->
		<!-- 		<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }} ">last</a> -->
		<!-- 		</li> -->
		<!-- 		{% endif %} -->
		<!-- 	</ul> -->
		<!-- </nav> -->


	</tbody>
</table>


{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{% static 'js/jobScript.js' %}"></script>
<script src="{% static 'js/messageScript.js' %}"></script>
<!-- Js file for darkmode -->
<script src="{% static 'js/darkmode.js' %}"></script>

{% endblock %}
