{% extends 'base_pdf.html' %}
{% block pdf %}

<h3>Jobs Full details</h3>
<p>Job started on: {{job.startDate}}, ended on: {{job.endDate}}</p>
<table class="table table-striped">
    <thead>
        <tr class="table-dark" style="position: sticky ; top: 0;">
            <th>Client</th>
            <th>Field</th>
            <th>Well</th>
            <th>Department</th>
            <th>Service</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ job.client }}</a></td>
            <td>{{ job.field }}</td>
            <td>{{ job.well }}</td>
            <td>{{ job.departmenet}} BPD</td>
            <td>{{ job.service }}/64"</td>
            <td>{{ job.description }} psi</td>
        </tr>
    </tbody>
</table>

<br />

<hr />
<div class="card ">
    <div class="card-header">
        <h3>Daily reports</h3>
    </div>
</div>

{% if jobDaily != none %}
<table class="table table-striped">
    <thead>
        <tr class="table-dark" style="position: sticky ; top: 0;">
            <th scope="col" style='width:50px'>#</th>
            <th scope="col" style='width:250px'>Date</th>
            <th scope="col" style='word-break:break-word; width:450'>Last 24hr Ops</th>
            <th scope="col" style='word-break:break-word; width:450'>Next 24hr Ops</th>
            <th scope="col" style='width:200px'>Oil rate</th>
            <th scope="col" style='width:200'>Choke Size</th>
            <th scope="col" style='width:100'>WHP</th>
        </tr>
    </thead>
    <tbody>
        {% for fa in jobDaily %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ fa.operationdate }}</a></td>
            <td align="justify">{{ fa.lastdayops }}</td>
            <td align="justify">{{ fa.nextdayops }}</td>
            <td>{{ fa.oilrate}} BPD</td>
            <td>{{ fa.chokesize }}/64"</td>
            <td>{{ fa.whp }} psi</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endif %}



{% endblock %}
