{% extends 'base.html' %}
{% block body_block %}

<div class="row ">
  <div class="col">
    <div class="card card-body">
      <div class="row">
        <h3 class="display-5">Jobs Full details</h3>
        <div class="col">
          <a class="btn btn-primary" href="{% url 'jobs_detail' pk=jobs_detail.get_prev.pk  %}"><< Prev Record </a>
          <a class="btn btn-primary" href="{% url 'jobs_detail' pk=jobs_detail.get_next.pk  %}">Next Record >></a>
        </div>
        <hr />
        <div class="col">
          <p class='card-text'>Client : {{ jobs_detail.client}}</p>
          <p class='card-text'>Field : {{ jobs_detail.field}}</p>
          <p class='card-text'>Well : {{ jobs_detail.well}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Department : {{ jobs_detail.departmenet}}</p>
          <p class='card-text'>Service : {{ jobs_detail.service}}</p>
          <p class='card-text'>Description : {{ jobs_detail.description}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Start Date : {{ jobs_detail.startDate }}</p>
          <p class='card-text'>End Date : {{ jobs_detail.endDate }}</p>
        <p class='card-text col'>Pdf file :
          {% if jobs_detail.pdf_file != None and jobs_detail.pdf_file != ""%}
          <a href="/media/{{ jobs_detail.pdf_file}}" type="application/pdf" target="_blank"> Link </a>
          {% else %}
          No files
          {% endif %}
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Daily Report Details
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p class="fw-lighter">No of records.. {{jobDaily.count}}</p>
        <table class="table table-striped">
          <thead>
            <tr class="table-dark" style="position: sticky ; top: 0;">
              <th scope="col" style='width:200px'>Date</th>
              <th scope="col" style='word-break:break-word; width:450'>Last 24hr Ops</th>
              <th scope="col" style='word-break:break-word; width:450'>Next 24hr Ops</th>
              <th scope="col" style='width:200px'>Oil rate</th>
              <th scope="col" style='width:200'>Choke Size</th>
              <th scope="col" style='width:100'>WHP</th>
            </tr>
          </thead>
          <tbody>
            {% for fa in jobDaily %}
            <tr>
              <td><a href="{% url 'dailyreport_detail' pk=fa.pk %}" target='_blank'>{{ fa.operationdate }}</a></td>
              <td style='width:400px' align="justify">{{ fa.lastdayops }}</td>
              <td style='width:400px' align="justify" >{{ fa.nextdayops }}</td>
              <td>{{ fa.oilrate}} BPD</td>
              <td>{{ fa.chokesize }}/64"</td>
              <td >{{ fa.whp }} psi</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Creating the accordion which will hold the data and graphs -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Upstream Parameters
      </button>
    </h2>

    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <button type="button" class="btn btn-outline-dark mb-2" id='bar'>Bar</button>
        <button type="button" class="btn btn-outline-dark mb-2" id='line'>Line</button>
        <div class="row">
          <h3>Upstream parameters</h3>
          <canvas id="myChart" width="300" height="150"></canvas>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Selected Equipment
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {% for fa in selectedEquipmentinJob %}
          <div class="row">
            <div class="col">
              <strong>Equipment</strong>
              <hr />
              <p class='card-text'>Serial No : {{ fa.assetnew.serial_num}}</p>
              <p class='card-text'>Part No : {{ fa.assetnew.part_num}}</p>
              <p class='card-text'>Description : {{ fa.assetnew.description}}</p>
            </div>
            <div class="col">
              <strong>Batteries used</strong>
              <hr />
              {% for batter in fa.battery.all%}
              <p class='card-text'>Battery SN: {{forloop.counter}}-{{ batter.serial_num }}</p>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<br/>
<a class="btn btn-primary" href="{% url 'jobs' %}">Back to Jobs</a>

<!-- Scirpting for the chart js -->
<script>
  const line = document.getElementById('line')
  const bar = document.getElementById('bar')
  line.addEventListener('click', changeline)
  bar.addEventListener('click', changebar)

  const ctx = document.getElementById('myChart').getContext('2d');
  // First chart with Upstream parameters
  const myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: [{% for foo in jobDaily  %} '{{foo.operationdate }}', {% endfor %}],
          datasets: [
              // Oil rate
              {
                  label: 'WHT',
                  yAxisID: 'A',
                  data: [{% for foo in jobDaily  %} {{foo.wht}}, {% endfor %}],
                  backgroundColor: ['rgba(255, 99, 132, 0.2)',],
                  borderColor: ['rgba(255, 99, 132, 1)',],
                  borderWidth: 1
                },
              // WHP
              {
                  label: 'WHP pressure',
                  yAxisID: 'A',
                  data: [{% for foo in jobDaily  %} {{foo.whp}}, {% endfor %}],
                  backgroundColor: ['rgba(54, 162, 235, 0.2)',],
                  borderColor: ['rgba(54, 162, 235, 1)',],
                  borderWidth: 1
              },
              // dp
              {
                  label: 'dp',
                  yAxisID: 'A',
                  data: [{% for foo in jobDaily  %} {{foo.dp}}, {% endfor %}],
                  backgroundColor: ['rgba(255, 206, 86, 0.2)',],
                  borderColor: ['rgba(255, 206, 86, 1)',],
                  borderWidth: 1
              },
              {
                  label: 'Choke size',
                  yAxisID: 'B',
                  data: [{% for foo in jobDaily  %} {{foo.chokesize}}, {% endfor %}],
                  backgroundColor: ['rgba(120, 73, 75, 0.2)',],
                  borderColor: ['rgba(120, 73, 75, 0.2)',],
                  borderWidth: 1
              }
          ]
      },
      options: {
          scales: {
              yAxes:[{
                  id: 'B',
                  position: 'right'
              },{
                  id: 'A',
                  position: 'left'
              }]
          }
      }
  });
  function changeline() {
      myChart.config.type = 'line'
      myChart.update()
  }
  function changebar() {
      myChart.config.type = 'bar'
      myChart.update()
  }
</script>

{% endblock %}
