{% extends 'base_pdf.html' %}

{% block pdf %}


<h3 class="display-5">Jobs Full details</h3>
<hr />
<div class="col">
    <p class='card-text'>Client : {{ job.client}}</p>
    <p class='card-text'>Field : {{ job.field}}</p>
    <p class='card-text'>Well : {{ job.well}}</p>
</div>
<div class="col">
    <p class='card-text'>Department : {{ job.departmenet}}</p>
    <p class='card-text'>Service : {{ job.service}}</p>
    <p class='card-text'>Description : {{ job.description}}</p>
</div>
<div class="col">
    <p class='card-text'>Start Date : {{ job.startDate }}</p>
    <p class='card-text'>End Date : {{ job.endDate }}</p>
</div>

<hr />
<div class="card ">
    <div class="card-header">
        <h3>Daily reports</h3>
    </div>
</div>

{% if jobDaily != none %}
<table class="table table-striped">
    <thead>
        <tr class="table-dark" style="position: sticky ; top: 0;">
            <th scope="col" style='width:200px'>Date</th>
            <th scope="col" style='word-break:break-word; width:450'>Last 24hr Ops</th>
            <th scope="col" style='word-break:break-word; width:450'>Next 24hr Ops</th>
            <th scope="col" style='width:200px'>Oil rate</th>
            <th scope="col" style='width:200'>Choke Size</th>
            <th scope="col" style='width:100'>WHP</th>
        </tr>
    </thead>
    <tbody>
        {% for fa in jobDaily %}
        <tr>
            <td><a href="{% url 'dailyreport_detail' pk=fa.pk %}" target='_blank'>{{ fa.operationdate }}</a></td>
            <td style='width:400px' align="justify">{{ fa.lastdayops }}</td>
            <td style='width:400px' align="justify">{{ fa.nextdayops }}</td>
            <td>{{ fa.oilrate}} BPD</td>
            <td>{{ fa.chokesize }}/64"</td>
            <td>{{ fa.whp }} psi</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endif %}



{% endblock %}
