<script>
  const border_hover_width = 2
  const bar_border_radius = 5
  const allColors = [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(255, 159, 64, 0.2)']
  const allColorBoarder = [
      'rgba(255, 99, 132, 1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)',
      'rgba(153, 102, 255, 1)',
      'rgba(255, 159, 64, 1)']
  const line = document.getElementById('line')
  const bar = document.getElementById('bar')
  line.addEventListener('click', changeline)
  bar.addEventListener('click', changebar)
  const title = document.getElementById('title-page')
  title.innerHTML = 'Maintenance dashboard'

  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: [{% for key,_ in all_main_count.items  %} '{{key}}', {% endfor %}],
          datasets: [{
              label: 'Average of equipment cost',
              data: [{% for _,value in all_main_count.items  %} {{value}}, {% endfor %}],
              backgroundColor: allColors ,
              borderColor: allColorBoarder,
              borderRadius: bar_border_radius,
              borderWidth: 1,
              hoverBorderWidth: border_hover_width
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  const ctxpie = document.getElementById('myChartpie').getContext('2d');
  const myChart_pie = new Chart(ctxpie, {
      type: 'pie',
      data: {
          labels: [{% for key,_ in all_main_count.items  %} '{{key}}', {% endfor %}],
          datasets: [{
              label: 'Average of equipment cost',
              data: [
                  {% for _,value in all_main_count.items  %}
                  {{value}},
                  {% endfor %}
              ],
              backgroundColor: allColors ,
              borderColor: allColorBoarder,
              borderWidth: 1,
              hoverOffset: 10
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });

  function changeline() {
      myChart.config.type = 'line'
      myChart.update()
  }
  function changebar() {
      myChart.config.type = 'bar'
      myChart.update()
  }


</script>
