{% extends 'base.html' %}

{% block body_block %}

<div class="row " >
  <div class="col">
    <div class="card card-body">
      <div class="row">
        <h3 class="display-5">Training Details</h3>
        <hr />
        <div class="col">
          <p class='card-text'>Training Type : {{ training_detail.training_type }}</p>
          <p class='card-text'>Training Name : {{ training_detail.training_name }}</p>
          <p class='card-text'>Description : {{ training_detail.description}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Training Date : {{ training_detail.training_date_start }}</p>
          <p class='card-text'>Expiry Date : {{ training_detail.training_date_expire }}</p>
          <p class='card-text'>Cost : {{ training_detail.training_cost }}</p>
        </div>
        <div class="col">
          <p class='card-text'>First Name : {{ training_detail.person.first_name}}</p>
          <p class='card-text'>Person Name : {{ training_detail.person.last_name}}</p>
          <p class='card-text'>Person Name : {{ training_detail.person.department}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<a class="btn btn-primary " href="{% url 'training' %}">Training</a>
