{% extends 'base.html' %}

{% block body_block %}

<div class="row " >
  <div class="col">
    <div class="card card-body">
      <div class="row">
        <h3 class="display-5">Training Details</h3>
        <div class="cal">
          <a class="btn btn-primary" href="{% url 'training_detail' pk=training_detail.get_prev.pk  %}"><< Prev Record </a> 
          <a class="btn btn-primary" href="{% url 'training_detail' pk=training_detail.get_next.pk  %}">Next Record >></a> 
        </div>
        <hr />
        <div class="col">
          <p class='card-text'>Training Type : {{ training_detail.training_type }}</p>
          <p class='card-text'>Training Name : {{ training_detail.training_name }}</p>
          <p class='card-text'>Description : {{ training_detail.description}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Training Date : {{ training_detail.training_date_start }}</p>
          <p class='card-text'>Expiry Date : {{ training_detail.training_date_expire }}</p>
        </div>
        <div class="col">
          <p class='card-text' >Pdf file :
            {% if training_detail.pdf_file != None and battery_detail.pdf_file != ""%}
            <a href="/media/{{ battery_detail.pdf_file}}"
               type="application/pdf" target="_blank"> Link </a>
            {% else %}
              No files
            {% endif %}
          </p>
          <p class='card-text'>Cost : {{ training_detail.training_cost }}</p>

        </div>
      </div>
    </div>
  </div>
</div>
<br />
<a class="btn btn-primary " href="{% url 'training' %}">Back to Training</a>

{% endblock %}
