{% extends 'base_pdf.html' %}
{% block pdf %}
<h3>Battery Full details</h3>
<hr />
<p>Part No : {{ battery.part_num}}</p>
<p>Serial No : {{ battery.serial_num}}</p>
<p>Description : {{ battery.description}}</p>
<p>Acquistion cost : {{ battery.purchase_date}}</p>
<p>Service Date : {{ battery.in_service_date}}</p>
<p>Purchase Date : {{ battery.purchase_date}}</p>

<hr />
<div class="card ">
    <div class="card-header">
        <h3>Maintenance</h3>
    </div>
</div>
{% if batteryMain != none %}
<table class="table table-striped">
    <thead>
        <tr class="table-dark">
            <th scope="col">Check Type</th>
            <th scope="col">Check Date</th>
            <th scope="col">Voltage Value</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for fa in batteryMain %}
        <tr>
            <td>{{ fa.ms_type }}</td>
            <td>{{ fa.check_date }}</td>
            <td>{{ fa.voltage_value}}</td>
            <td>{{ fa.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
