{% extends 'base.html' %}
{% block body_class %}battery{% endblock %}
<!-- #% load bootstrap  %} -->
{% load static %}


{% block body_block %}

<h1 class="display-5" style="display: inline-block;"  >Battery Site</h1>
<img src="{% static 'images/battery.png' %}" alt="image" style="display: inline-block; object-fit: cover;  height: 50px;">
<br />
<p class="blockquote-footer" align="left">Hello {{user.username}}</p>

{% for message in messages %}
{% if message %}
<div class="alert alert-{{message.tags}}" id="message-card" >
	{{message}}
</div>
{% endif %}
{% endfor %}

<button class="btn btn-outline-secondary mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMe"
		aria-expanded="false" aria-controls="collapseExample" id="filterbutton">Show/Hide form</button>
<div class="row collapse" id="collapseMe">
	<div class="col">
		<div class="card card-body">
			<form method="GET">
				<table>
					{{ filter.form.as_table}}
				</table>
				<button type="submit" class="btn btn-primary">Search</button>
				{% if user.is_superuser %}
				<a class="btn btn-outline-dark" href="{% url 'battery_new' %}">New Battery</a>
				{% endif %}
			</form>
		</div>
	</div>
</div>

<!-- <button id="dark-mode-button" class="btn btn-outline-dark btn-sm">Toggle Dark Mode</button> -->

<div>
	<!-- <p class="fw-lighter" style="float:right"> Total records... {{filter.qs.count}}</p> -->
	<p class="fw-lighter" style="float:right"> Total records... {{object_list.count}}</p>
	<p class="fw-lighter" style="float:left"> No of searched items... {{filter.qs.count}}</p>
</div>
<br>
<table class="table table-striped">
	<thead>
		<!-- This style makes the top header sticking to the top of the page as a sticky table header  -->
		<tr class="table-dark" style=" position: sticky; top: 0;">
			<th scope="col">#</th>
			<th scope="col">Part No</th>
			<th scope="col">Serial No</th>
			<th scope="col">Description</th>
			<th scope="col">Purchase</th>
			<th scope="col">In Service</th>
			<th scope="col">Condition</th>
			<th scope="col">File</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<!-- {#% for battery in page_obj.object_list %#} with pagination -->
		{% for battery in filter.qs %}

		<tr>
			<th scope="row" style='width:50px'>{{forloop.counter}}</th>
			<th scope="row"> <a href="{% url 'battery_detail' pk=battery.pk %}" target="_blank">{{ battery.part_num }}</a></th>
			<td>{{ battery.serial_num }}</td>
			<td>{{ battery.description }}</td>
			<td>{{ battery.purchase_date }}</td>
			<td>{{ battery.in_service_date }}</td>
			{%if battery.in_service_date == null%}
			<td style='word-break:break-word; width:80px'>New</td>
			{%else%}
			<td style='word-break:break-word; width:80px'>Used</td>
			{% endif %}
			<td>
				{% if battery.pdf_file != None and battery.pdf_file != ""%}
				<a href="/media/{{battery.pdf_file}}" type="application/pdf" target="_blank"> Link </a>
				{% else %}
				No files
				{% endif %}
			</td>

			<td>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Action
					</button>
					{% if user.is_superuser or user.groups.all.0.name == 'Operation' %}
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" href="{%url 'battery_update' pk=battery.pk%}">Update</a></li>
						{% endif %}
						{% if user.is_superuser %}
						<li><a class="dropdown-item" href="{%url 'battery_delete' pk=battery.pk %}">Delete</a></li>
						{% endif %}
						<li><a class="dropdown-item" href="{%url 'battery_pdf' pk=battery.pk%}" target="_blank">Pdf</a></li>
					</ul>
				</div>
			</td>
		</tr>

		{% endfor %}

		<br />
	</tbody>
</table>

<br>
{% endblock %}


{% block scripts %}
{{block.super}}

<script src="{% static 'js/messageScript.js' %}"></script>
<!-- Js file for darkmode -->
<script src="{% static 'js/darkmode.js' %}"></script>
<!-- TODO fix this Js file for dropdown -->
<!-- <script src="{% static 'js/dropdownlist.js' %}"></script> -->

{% endblock %}
