{% extends 'base_pdf.html' %}
{% block pdf %}

<h3>Battery Full details</h3>
<table class="table table-striped">
    <thead>
        <tr class="table-dark" style="position: sticky ; top: 0;">
            <th>Part No</th>
            <th>Serial No</th>
            <th>Description</th>
            <th>Purchase Date</th>
            <th>In Service</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ battery.part_num }}</td>
            <td>{{ battery.serial_num }}</td>
            <td>{{ battery.description }}</td>
            <td>{{ battery.purchase_date }}</td>
            <td>{{ battery.in_service_date }}</td>
        </tr>
    </tbody>
</table>

<div class="card ">
    <div class="card-header">
        <h3>Maintenance</h3>
    </div>
</div>
{% if batteryMain != none %}
<table class="table table-striped">
    <thead>
        <tr class="table-dark">
            <th scope="col">Check Type</th>
            <th scope="col">Check Date</th>
            <th scope="col">Voltage Value</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for fa in batteryMain %}
        <tr>
            <td>{{ fa.ms_type }}</td>
            <td>{{ fa.check_date }}</td>
            <td>{{ fa.voltage_value}}</td>
            <td>{{ fa.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
