{% extends 'base.html' %}
{%load crispy_forms_tags %}

{% block body_block %}
<h3 class="display-5">New Battery</h3>
<br />
<p class="blockquote-footer">Hello {{user.username}}</p>

<form method="POST" class="post-form">
    {% csrf_token %}
    <div class="form-row row">
        <div class="form-group col-md-6 mb-0 col"> {{ form.part_num|as_crispy_field }} </div>
        <div class="form-group col-md-6 mb-0 col"> {{ form.serial_num|as_crispy_field }} </div>
    </div>
    <div class="form-row row">
        <div class="form-group col-md-12 mb-0 col"> {{ form.description|as_crispy_field}} </div>
    </div>
    <div class="form-row row">
        <div class="form-group col-md-6 mb-0 col"> {{ form.purchase_date|as_crispy_field }} </div>
        <div class="form-group col-md-6 mb-0 col"> {{ form.in_service_date|as_crispy_field }} </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-outline-dark " href="{% url 'battery' %}">Cancel</a>
</form>

{% endblock %}


<!-- Old style -->
<!-- {#{% csrf_token %}#} -->
<!-- {{form | crispy}} -->
<!-- <button type="submit" class="btn btn-success">Save</button> -->
<!-- <a class="btn btn-outline-dark" href="{% url 'equipment' %}">Cancel</a> -->
<!-- <br> -->
<!-- <hr> -->
<!-- Old style -->

<!-- second good one -->
<!-- <div class='row'> -->
<!--     <\!-- {#{% for field in form %}#} -\-> -->
<!--     <div class='col-md-6'> -->
<!--         {{ field|as_crispy_field }} -->
<!--     </div> -->
<!--     <\!-- {#{% endfor %}#} -\-> -->
<!--     <\!-- {#{% csrf_token %}#} -\-> -->
<!-- </div> -->
