{% extends 'base.html' %}
{% load static %}
{% block body_class %}equipment{% endblock %}
{% block body_block %}

<!-- <h1 class="display-5">Equipment Page  <span class="material-icons">precision_manufacturing </span> </h1> -->
<h1 class="display-5" style="display: inline-block;"  >Equipment Site</h1>
<img src="{% static 'images/equipment1.png' %}" alt="image" style="display: inline-block; object-fit: cover; width: 50px; height: 50px;">
<br />
<p class="blockquote-footer" align="left">Hello {{user.username}}</p>

{% for message in messages %}
{% if message %}
<div class="alert alert-{{message.tags}}" id="message-card" >
	{{message}}
</div>
{% endif %}
{% endfor %}

<button class="btn btn-outline-secondary mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMe"
		aria-expanded="false" aria-controls="collapseExample" id="filterbutton">Show/Hide form</button>
<div class="row collapse" id="collapseMe">
	<div class="col">
		<div class="card card-body">
			<form method="GET">
				<table>
					{{ filter.form.as_table}}
				</table>
				<button type="submit" class="btn btn-primary">Search</button>
				{% if user.is_superuser %}
				<a class="btn btn-outline-dark" href="{% url 'equipment_new' %}">New Asset</a>
				{% endif %}
			</form>
		</div>
	</div>
</div>

<div>
	<!-- <p class="fw-lighter" style="float:right"> Total records... {{filter.qs.count}}</p> -->
	<p class="fw-lighter" style="float:right"> Total records... {{object_list.count}}</p>
	<p class="fw-lighter" style="float:left"> No of searched items... {{filter.qs.count}}</p>
</div>
<br>
<table class="table table-striped">
	<thead>
		<!-- This style makes the top header sticking to the top of the page as a sticky table header  -->
		<tr class="table-dark" style=" position: sticky; top: 0;">
			<th scope="col">#</th>
			<th scope="col">Part No</th>
			<th scope="col">Serial No</th>
			<th scope="col">Description</th>
			<th scope="col">Department</th>
			{% if user.is_superuser %}
			<th scope="col">cost</th>
			{% endif %}
			<th scope="col">File</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for equip in filter.qs %}
		<tr>
			<th scope="row" >{{forloop.counter}}</th>
			<th scope="row" > <a href="{% url 'equipment_detail' pk=equip.pk %}" target="_blank">{{ equip.part_num }}</a></th>
			<td>{{ equip.serial_num }}</td>
			<td>{{ equip.description }}</td>
			<td>{{ equip.departement }}</td>
			{% if user.is_superuser %}
			<td>{{ equip.acquisition_cost }}</td>
			{% endif %}
			<td>
				{% if equip.pdf_file != None  and equip.pdf_file != ""%}
				<a href="/media/{{equip.pdf_file}}" type="application/pdf" target="_blank"> Link </a>
				{% else %}
				No files
				{% endif %}
			</td>
			<td>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						Action
					</button>
					<ul class="dropdown-menu dropdown-menu-dark">
						{% if user.is_superuser or user.groups.all.0.name == 'Operation' %}
						<li><a class="dropdown-item" href="{%url 'equipment_update' pk=equip.pk%}">Update</a></li>
						{% endif %}
						{% if user.is_superuser %}
						<li><a class="dropdown-item" href="{%url 'equipment_delete' pk=equip.pk %}">Delete</a></li>
						{% endif %}
						<li><a class="dropdown-item" href="{%url 'equipment_pdf' pk=equip.pk%}" target="_blank">Pdf</a></li>
					</ul>
				</div>
			</td>
		</tr>
		{% endfor %}
		<br />
	</tbody>
</table>

<br>
{% endblock %}

{% block scripts %}
{{block.super}}
<!-- <script type="text/javascript" src="{#% static 'js/equipmentScript.js'  %#}"></script> -->
<script src="{% static 'js/messageScript.js' %}"></script>

<!-- Select2 script for searching dropdown list -->
<script>
	$(document).ready(function() {
		$('.js-select2-basic').select2();
	});
</script>

<!-- Js file for darkmode -->
<script src="{% static 'js/darkmode.js' %}"></script>
{% endblock %}
