{% extends 'base.html' %}

{% block body_block %}

<div class="row " >
  <div class="col">
    <div class="card card-body">
      <div class="row">
        <h3 class="display-5">Equipment Full details</h3>
        <div class="col">
          <a class="btn btn-primary" href="{% url 'equipment_detail' pk=equipment_detail.get_prev.pk  %}"><< Prev </a>
          <a class="btn btn-primary" href="{% url 'equipment_detail' pk=equipment_detail.get_next.pk  %}">Next >></a>
          <br />
        </div>
        <hr />
        <div class="col">
          <p class='card-text'>Part No : {{ equipment_detail.part_num}}</p>
          <p class='card-text'>Serial No : {{ equipment_detail.serial_num}}</p>
          <p class='card-text'>Description : {{ equipment_detail.description}}</p>
        </div>
        <div class="col">
          {% if user.is_superuser %}
          <p class='card-text'>Acquistion cost : {{ equipment_detail.acquisition_cost}}</p>
          {% endif %}
          <p class='card-text'>Date : {{ equipment_detail.acquisition_date}}</p>
        </div>
        <div class="col">
          <p class='card-text'>Department : {{ equipment_detail.departement }}</p>
          <p class='card-text'>Asset life : {{ equipment_detail.asset_life}}</p>
          <p class='card-text' >Pdf file :
            {% if equipment_detail.pdf_file != None and eqipmenet_detail.pdf_file != ""%}
            <a href="/media/{{ equipment_detail.pdf_file}}"
               type="application/pdf" target="_blank"> Link </a>
            {% else %}
            No files
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

<div class="card ">
  <div class="card-header">
    <h3 class="display-5">Maintenance</h3>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr class="table-dark" style="position: sticky ; top: 0;">
      <th scope="col">Maintenacne Type</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Expiry Date</th>
      <th scope="col">Cost</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for fa in equipMain %}
    <tr>
      <td><a href="{% url 'maintenance_detail' pk=fa.pk %}">{{ fa.ms_type }}</a></td>
      <td>{{ fa.main_date_start }}</td>
      <td>{{ fa.main_date_end }}</td>
      <td>{{ fa.expiry_date}}</td>
      <td>{{ fa.main_cost }}</td>
      <td style='word-break:break-word; width:300px'>{{ fa.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn btn-primary " href="{% url 'equipment' %}">Back to equipment</a>
{% if user.is_superuser %}
<a class="btn btn-secondary " href="{% url 'equipment_update' pk=equipment_detail.pk %}" target="_blank">Update Asset</a>
{% endif %}
<!-- TODO make a button to take the user to a new maintenance record for this equipment based on the pk number -->
{% endblock %}
